/*TODO: Get rid of import statement below and add it from assets/fonts please*/
/* @font-face {
    font-family: "Onest";
    src: url("/src/assets/fonts/Onest-VariableFont_wght.ttf") format("ttf");
} */

@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

@import "tailwindcss";
@theme {
    --color-dark: #323339;
    --color-off-white: #f0f0f0;
    --color-accent-1: #7fb4da;
    --color-accent-2: #5ed27d;
    --color-accent-3: #de6c50;
    --spacing-column-height: var(--column-height);
    --spacing-title-bar: var(--title-bar-height);
    --default-font-family: "Onest", sans-serif;
}

:root {
    --main-bg-color: brown;
    --column-height: 2000px;
    --title-bar-height: 40px;
}
